body{
    background-color: black;
    font-family: 'Akshar', sans-serif;
}
.document{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 3vh;
    padding: 1vh 1vw 1vh 1vw;
}
.first{
    background-color: #226F54;
    padding: 1vh 1vw 1vh 1vw;
    background-image: url(../images/forest.jpg);
    background-size: cover;
    height: 95vh;
    text-align: center;
}
.first button{
    margin-top: 85vh;
    height: 10vh;
    min-width: 210px;
    width: 20vw;
    font-family: 'Akshar', sans-serif;
    font-size: 2em;
    border: 0.25vh solid black;
    border-radius: 25px;
    transition: background-color 0.25s ease-in-out, border 0.1s ease-in-out;
}
.first button:hover{
    border: 0.25vh solid gray;
    background-color: rgba(255,255,255,0.85);
}
@media screen and (min-width: 1500px) {
    .first button{
        max-width: 300px;
    }
  }
.second{
    background-color: #87C38F;
    padding: 1vh 1vw 1vh 1vw;
    text-align: center;
}
.secondText{
    display: flex;
    align-items: center;
    height: 100%;
}
.secondGrid{
    text-align: center;
    width: 100%;
    color:black;
}
#firstFade{
    transition: color ease-in 0.25s;
    padding: 5vh 0 5vh 0;
}
#firstFade:hover{
    color: white;
    background-color: rgba(255,255,255,0.05);
}
#secondFade{
    transition: color ease-in 0.25s;
    padding: 5vh 0 5vh 0;
}
#secondFade:hover{
    color: #226F54;
    background-color: rgba(255,255,255,0.05);
}
#thirdFade{
    transition: color ease-in 0.25s;
    padding: 5vh 0 5vh 0;
}
#thirdFade:hover{
    color: #F4F0BB;
    background-color: rgba(255,255,255,0.05);
}
.third{
    background-color: #F4F0BB;
    padding: 1vh 1vw 1vh 1vw;
}