body{
    scroll-behavior: smooth;
    background-color: black;
    font-family: 'Akshar', sans-serif;
}
.document{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 3vh;
    padding: 1vh 1vw 1vh 1vw;
}
#first{
    background-color: #07BEB8;

    height: 95vh;
    text-align: center;

    overflow: hidden;

}
#firstImg{
    position: relative;
    float: left;
}
#first button{
    height: 10vh;
    min-width: 210px;
    width: 20vw;
    font-family: 'Akshar', sans-serif;
    font-size: 2em;
    border: 0.25vh solid black;
    border-radius: 25px;
    transition: background-color 0.25s ease-in-out, border 0.1s ease-in-out;
}
#first button:hover{
    border: 0.25vh solid gray;
    background-color: rgba(255,255,255,0.85);
}
@media screen and (min-width: 1500px) {
    #first button{
        max-width: 300px;
    }
}
#buttonContainer{
    position: absolute;
    top: 85%;
    left: 0%;
    width: 100%;
    justify-content: space-evenly;
}
.centerVertically{
    display: flex;
    align-items: center;
}
#second{
    background-color: #68D8D6;
    padding: 1vh 1vw 1vh 1vw;
    text-align: center;

    height: 95vh;
}
.secondText{
    height: 100%;
}
.secondGrid{
    display: grid;
    grid-template-rows: 90% 10%;
    text-align: center;
    width: 100%;
    color:black;
}
.fade{
    transition: color ease-in 150ms;
    display: none;
}
.fade:hover{
    color: white !important;
}
.link:hover{
    text-decoration: underline;
}
.secondBody{
    padding: 3vh;
}
.secondBody:hover{
    background-color: rgba(255,255,255,0.1);
}
#title{
    border-top: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
    padding: 3vh;

    animation: titleBorder 10s infinite;
}
@keyframes titleBorder{
    0% {border-color: black}
    50% {border-color: white}
    100% {border-color: black}
}
.secondFooter{
    padding-top: 15vh;
    animation: footerColor 10s infinite;
}
@keyframes footerColor{
    0% {color: black}
    33% {color: white}
    66% {color: purple}
    100% {color: black}
}
#third{
    background-color: #C4FFF9;
    display: grid;
    grid-template-rows: auto auto;

    height: 95vh;

    text-align: center;

}
#slider{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}
#slider .btn{
    grid-row: 2;
    font-size: 2em;
}
#slider .btn:hover{
    background-color: rgba(255,255,255,0.5);
}
#sliderImgs{
    margin: 0 5vw 0 5vw;
    grid-row: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2.5vw;

    overflow: hidden;
}
.sliderElement{
    position: relative;
    display: grid;
}
.sliderElement img{
    max-height: 20vh;
}
.btn{
    border: 0.5vh solid gray;
    border-radius: 25px;
}