body{
    scroll-behavior: smooth;
    background-color: black;
    font-family: 'Akshar', sans-serif;
}
.document{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 3vh;
    padding: 1vh 1vw 1vh 1vw;
}
.first{
    background-color: #226F54;

    height: 95vh;
    text-align: center;

    overflow: hidden;
}
.firstImg{
    height: 100%;
    position: relative;
    left: 0;
    right: 0;

    float: left;
}

.first button{
    position: absolute;
    top: 85%;
    left: 40%;
    height: 10vh;
    min-width: 210px;
    width: 20vw;
    font-family: 'Akshar', sans-serif;
    font-size: 2em;
    border: 0.25vh solid black;
    border-radius: 25px;
    transition: background-color 0.25s ease-in-out, border 0.1s ease-in-out;
}
.first button:hover{
    border: 0.25vh solid gray;
    background-color: rgba(255,255,255,0.85);
}
@media screen and (min-width: 1500px) {
    .first button{
        max-width: 300px;
    }
  }
.second{
    background-color: #87C38F;
    padding: 1vh 1vw 1vh 1vw;
    text-align: center;
}
.secondText{
    display: flex;
    align-items: center;
    height: 100%;
}
.secondGrid{
    display: grid;
    grid-template-rows: 90% 10%;
    text-align: center;
    width: 100%;
    color:black;
}
.fade{
    transition: color ease-in 0.15s;
    padding: 5vh 0 5vh 0;
    display: none;
}
.fade:hover{
    color: white !important;
}
.link:hover{
    text-decoration: underline;
}
.secondBody{
    padding: 3vh;
}
.secondBody:hover{
    background-color: rgba(255,255,255,0.1);
}
#title{
    border-top: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
    padding: 3vh;

    animation: titleBorder 10s infinite;
}
@keyframes titleBorder{
    0% {border-color: black}
    50% {border-color: white}
    100% {border-color: black}
}
.secondFooter{
    padding-top: 15vh;
    animation: footerColor 10s infinite;
}
@keyframes footerColor{
    0% {color: black}
    33% {color: white}
    66% {color: purple}
    100% {color: black}
}
.third{
    background-color: #F4F0BB;
    padding: 1vh 1vw 1vh 1vw;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 10% 80% 10%;
}
.third button{
    padding: 2vh;
    border-radius: 25px;

    font-family: 'Akshar', sans-serif;
    font-size: 2em;

    background-color: transparent;

    margin: 0;
}
.third button:hover{
    background-color: rgba(255,255,255,0.65);
}
.buttonSpace{
    display: flex;
    align-items: center;
    height: 100%;

    justify-content: space-evenly;
}
#firstButton{
    grid-row: 2;
    grid-column: 1;
}
#secondButton{
    grid-row: 2;
    grid-column: 3;
}
#thirdText{
    display: flex;
    align-items: center;
    height: 100%;

    justify-content: space-evenly;

    grid-row: 2;
    grid-column: 2;
    text-align: center;
}